<section id="about">
    <div class="container">
        <div class="row justify-content-center align-items-center">
                <div class="col-md-5 col-12 py-5 px-4">
                    <img src="{{ asset('images/background-ok.jpg') }}"
                         alt="Copains de resto" class="img-fluid"
                         title="Copains de resto">
                </div>
            <div class="col-md-7 col-12 py-md-5 px-4">
                <h4 class="display-4">À propos de moi</h4>
                <hr>
                <p>Allez hop c'est parti le jour J : vous vous retrouvez à table avec des nouvelles personnes et
                    partager un moment convivial ! Vous êtes libre de choisir à la carte ou au menu les plats
                    souhaités
                    selon l'offre du restaurateur.<br>
                    L'addition est directement réglée au restaurateur selon ce que vous avez consommé. Vous pouvez
                    si
                    vous le souhaitez poster ensuite des avis sur le restaurant ou le concept !
                    <br>
                    Vous pouvez venir en solo mais également entre amis ou en couple pour étendre votre réseau
                    social.
                    Allez hop c'est parti le jour J : vous vous retrouvez à table avec des nouvelles personnes et
                    partager un moment convivial ! Vous êtes libre de choisir à la carte ou au menu les plats
                    souhaités
                    selon l'offre du restaurateur.<br>
                    L'addition est directement réglée au restaurateur selon ce que vous avez consommé. Vous pouvez
                    si
                    vous le souhaitez poster ensuite des avis sur le restaurant ou le concept !
                    Allez hop c'est parti le jour J : vous vous retrouvez à table avec des nouvelles personnes et
                    partager un moment convivial ! Vous êtes libre de choisir à la carte ou au menu les plats
                    souhaités
                    selon l'offre du restaurateur.<br>
                    L'addition est directement réglée au restaurateur selon ce que vous avez consommé. Vous pouvez
                    si
                    vous le souhaitez poster ensuite des avis sur le restaurant ou le concept !
                    Allez hop c'est parti le jour J : vous vous retrouvez à table avec des nouvelles personnes et
                    partager un moment convivial ! Vous êtes libre de choisir à la carte ou au menu les plats
                    souhaités
                    selon l'offre du restaurateur.<br>
                    L'addition est directement réglée au restaurateur selon ce que vous avez consommé. Vous pouvez
                    si
                    vous le souhaitez poster ensuite des avis sur le restaurant ou le concept !</p>
                <p>
                    Si vous ne pouvez plus venir, afin d’aider nos restaurateurs partenaires à gérer au mieux les
                    réservations et de ne pas bloquer une place,  nous vous serons reconnaissants de bien vouloir
                    annuler votre réservation via l’onglet «gérer mes réservations » dans votre espace personnel.

                </p>
            </div>
        </div>

    </div>
</section>

