<section id="contact" style="background-color: #0A0D3F">
    <div class="col-12 py-4 px-4">
        <h4 class="display-4 text-center text-white">Contactez-moi ! </h4>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-6 col-md-3 text-center">
            <i class="bi bi-envelope text-white" style="font-size: 3rem;"></i>
            <p class="text-white"> m.lefavrais@gmail.com</p>
        </div>

        <div class="col-6 col-md-3 text-center">
            <i class="bi bi-phone text-white" style="font-size: 3rem;"></i>
            <p class="text-white"> 06 75 83 14 53</p>
        </div>

        <div class="col-6 col-md-3 text-center">
            <a href="https://www.linkedin.com/in/mara-lefavrais-9a94b460/" target="blank">
                <i class="bi bi-linkedin text-white" style="font-size: 3rem;"></i></a>
                <p class="text-white"></p>
        </div>

        <div class="col-6 col-md-3 text-center">
            <a href="https://github.com/MaraLfs" target="blank">
                <i class="bi bi-github text-white" style="font-size: 3rem;"></i></a>
                <p class="text-white"></p>
        </div>
    </div>
</section>