    <div class="container">

        <h1 class="display-1 text-white text-md-start text-center" style="padding-top: 10rem;">Bonjour ! </h1>

        <h5 class="display-5 text-white text-md-end me-lg-5 mt-md-5 pt-5 text-center"> Je m'appelle Mara
            <br>et je suis développeuse web full-stack </h5>
        <div class="scroll-down container">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
    </div>


